body{
  /*background-color: #FFFFFF;*/
  /*color: #000000;*/
}

#title {
  text-align: center;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.about {
  text-align: center;
}

.left {
  display: inline-block;
  text-align: left;
}

#spacer {
  display: inline-block;
  width: 4em;
}

.right {
  display: inline-block;
  text-align: right;
}